{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% include "css.html" %}
    <title>Sari-Sari Store ni Lola Teresita</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}"/>
    {% block styles %}{% endblock %}
    {% block title %}{% endblock title %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#!">Sari-Sari Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    {% block links %}

                    {% endblock links %}
                </ul>
                {% block cart_form %}
                {% endblock cart_form %}
            </div>
        </div>
    </nav>
    {% block header %}{% endblock header %}
    {% block content %}{% endblock content %}
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Lola Teresita's Sari-Sari Store 2022</p></div>
    </footer>
    {% include "js.html" %}
    {% block scripts %}{% endblock scripts %}
</body>
</html>